body {
    
    color: white;
    font-family: Arial, sans-serif;
    margin:0px;
    padding: 0px;
    background-color: blue;
}
img {
    margin:0px;
    padding: 0px;
    width: 100vw;
    height: 100%;
    
}
#swb {
    margin:0px;
    padding:0px;
    width: 100%;
    height: 99.627vh;
    
}