body {
    
    color: white;
    font-family: Arial, sans-serif;
    margin:0px;
    padding: 0px;
    background-image: url('swb.png');
    background-size: 100vw 100vh;
}
img {
    margin:0px;
    padding: 0px;
    width: 100%;
    height: auto;
    
}

div{
    margin: 0px;
    padding: 0px;
}
area{
    margin: 0px;
    padding: 0px;
}
a:hover{
     cursor : pointer;
    }
map{
    padding: 0px;
    margin: 0px;
}